body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff4d6;
    color: #333;
    text-align: center;
}

header {
    background: #d35400;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 20px;
    margin: 10px 0;
}

button {
    background: #e67e22;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #c0392b;
}

#mensagem {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #d35400;
}

footer {
    background: #8e4400;
    color: white;
    padding: 15px;
    margin-top: 30px;
}